<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html lang="en">
<h1 style="text-align:center">Tinyapp:<br><a href="http://localhost:8080/urls/new">Shorten a URL</a></h1>


<% if(username){ %>
<h5 style="position: absolute; left: 10px; top: 10px;">Logged in as : <%= username %></h5>
<form class="form" action="/logout" method="POST">
        <div class="form-group mb-2">
            <button style="position: absolute; left: 10px; top: 50px; padding: 2px 20px" type="submit" class="btn btn-primary">Logout</button>
        </div></form>
<% } else{ %>
<form class="form" action="/login" method="POST">
        <div class="form-group mb-2">
            <input style="position: absolute; left: 10px; top: 10px;" type="text" name="username" placeholder="Enter username" style="width: 300px; margin: 1em">
            <button style="position: absolute; left: 10px; top: 50px; padding: 2px 20px" type="submit" type="submit" class="btn btn-primary">Login</button>
        </div></form> <% } %>

<form class="form" action="/urls" method="GET">
        <div class="form-group mb-2">
            <button style="position: absolute; left: 105px; top: 50px; padding: 2px 20px" type="submit" class="btn btn-primary">Home</button>
        </div></form>

