<!DOCTYPE html>
<html lang="en">

<head>
    <style>.inline {display:inline-block;}</style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <h1 style="text-align:center">Tinyapp:<br><a href="http://localhost:8080/urls/new">Shorten a URL</a></h1>
</head>

<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <br />
    <form method="POST" action="/register">
        <input type="email" name="email" id="email" placeholder="Email Address">
        <input type="password" name="password" id="password" placeholder="Pasword">
        <button type="submit" name="Register" class="btn btn-primary">Register</button>
    </form>
</body>

</html>